@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

:root {
  /* Fuentes */

  --font-principal: 'Poppins', sans-serif;
  --font-code: "Roboto Mono", monospace;

  /* Colores  */

  --cream: #fefcf3;
  --green: #295939;
  --dark-green: #064420;
  --orange: #ff7b54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: var(--font-principal);
  background-color: var(--cream);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img{
  max-width: 100%;
  width: 100%;
}


.wrapper{
  max-width: 220rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


