.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.text__home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.text__home h3{
    color: var(--dark-green);
    font-size: 3rem;
    font-weight: 500;
}

.text__home h1{
    color: var(--dark-green);
    font-weight: 500;
    font-size: 5rem;
    text-align: center;
}

.text__home h1 span{
    color: var(--orange);
    font-weight: 700;
}

.text__home h2{
    color: var(--dark-green);
    font-size: 2.5rem;
    font-weight: 500;
}

.text__home h2 span{
    color: var(--orange);
    font-weight: 600;
}

.btn__box{
    display: flex;
    gap: 2rem;
}

.btn__box a{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn__1,
.btn__2{
    padding: 1rem 1.5rem;
    border-radius: .3rem;
}

.btn__1{
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
}

.btn__1:hover{
    color: var(--cream);
    background-color: var(--dark-green);
    transition: all .6s;
}

.btn__2{
    color: var(--cream);
    background: var(--orange);
}

.code__box{
    display: none;
}


@media (min-width: 768px) {

    .container{
        margin-top: 5rem;
    }

    .text__home h3{
        font-size: 4rem;
    }
    .text__home h1{
        font-size: 6rem;
    }

    .text__home h2{
        font-size: 4rem;
    }

    .code__box{
        display: flex;
        flex-direction: column;
        gap:.2rem;
        width: 100%;
        height: fit-content;
        border: 2px dotted var(--green);
        padding: .2rem;
    }

    .header__code{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .8rem;
        background-color: var(--green);
    }

    .header__code h3{
        font-family: var(--font-code);
        font-weight: 300;
        font-size: 1.6rem;
        color: var(--cream);
    }

    .btns__code{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .code__window{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-family: var(--font-code);
    }

    .identation{
        margin-left: .6rem;
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .code__line span{
        width: 95%;
        font-size: 1.8rem;
    }

    .key,
    .const{
        color: var(--dark-green);
    }

    .variable{
        color: var(--orange);
    }

    .key,
    .variable,
    .const{
        font-weight: 500;
    }
}

@media (min-width: 1200px) {
    .container{
        margin-top: 5rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .text__home{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .code__box{
        width: 50%;
    }
}